/*
body,.um-win{
    background: #f4f4f4;
}
*/
.um-box.um-line{
    cursor:pointer;
}
.am-list-item img {
   height: 40px;
   width: 40px;
}
.u-table tr.tr-row-hover, .u-table tr:hover{
    cursor:pointer;
}
.um-lang{
   outline: none;
   cursor: pointer;
   border: 0;
   border-radius: 4px;
   background: rgba(255, 255, 255, 0.8);
   font-size: 12px;
   height: 18px;
   line-height: 18px;
   color: #666;
}
